@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgba(69, 70, 73, 0.788);
  justify-items: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 30%;
  left: 37%;
}
